<html>
  <head>
        <title>dig-web</title>
        <script src="st/all.js"></script>
        <link href="st/all.css" rel="stylesheet"/>
  </head>
  <body >
        <a id="cmdLink" style="position: absolute; top: 10; right: 170; border: 0;"
            href="http://localhost:5000/" >
            last command
        </a>


        <script type="text/javascript">
$(function() {
    $('body').terminal(function(command, term) {
        $('#cmdLink').attr('href', 'http://localhost:5000/?q=' + encodeURIComponent(command));
        return $.post('/q', {command: command});
    }, {
        greetings: `---------------------------------------

      dP oo
      88
 d888b88 dP .d8888b.
88    88 88 88    88
88.  .88 88 88.  .88
 88888P8 dP  8888P88
                 .88
             d8888P

by Niels Dettenbach <nd@syndicat.com>
---------------------------------------
web interface for the "dig" DNS tool
 - write "-h" for detailed dig options   
 - write "delv ..." for delv (DNSSEC)
 - write "delv -h" for delv help 
 - write "whois ..." to call WHOIS
 - write "whois -h" for WHOIS help   
---------------------------------------
{{ initialQuery }}
        `,
        height: "100%",
        width: "100%",
            prompt: '> dig ',
        onBlur: function() {
            //return false;
        }
    });
});

function onSomethingOtherThanLoad(event){
    // get the input
    //var target = document.getElementsByTagName("input")[0];
    var target = $('.cmd-editable');
    if (event.target != target) {
        target.focus();
        target.click();
    }
};


        </script>
  </body>
</html>
